.tbl {
    border-collapse: separate;
    border-spacing: 0;
    &.tl_fixed {
        table-layout: fixed;
    }
    &_top {
        margin-bottom: 10px;
        font-size: $fz_2;
    }
    &_wrap {
        position: relative;
        overflow: auto;
        border: 1px solid $c_line;
        width: 100%;
    }
    .select-box {
        z-index: 10;
    }
    th, td {
        height: 46px;
        padding: 10px;
        border: 1px solid $c_line;
        text-align: center;
        vertical-align: middle;
        &.pd0 {
            padding: 0;
        }
        &.pd4 {
            padding: 4px;
        }
        &.taR {
            text-align: right;
        }
        &.taL {
            text-align: left;
        }
        &._blue {
            background-color: #F0F9FF;
            color: $c_blue;
        }
        &._red {
            background-color: #FFF1F1;
            color: $c_red2;
        }
        &._key {
            background-color: $c_key2;
            border-color: $c_key;
            color: $c_key;
        }
        &[rowspan] {
            background-color: #fff !important;
            
        }
       
    }
    

    thead {

        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 2px;
        //     background-color: $c_key;
        //     bottom: 0;
        // }
        th {
            background-color: $c_key2;
            font-weight: 500;
            color: #000;
            
        }
        tr:last-child > th,
        th[rowspan] {
            box-shadow: inset 0 -2px 0 0 $c_key;
        
        }
    }
    tbody {
        tr:nth-child(even) {
            background-color: color.scale($c_key2, $lightness:80%);
        }
        tr:hover {
            background-color: color.scale($c_key,$lightness:95%, $saturation: 90%);
            td {
                background-color: color.scale($c_key,$lightness:95%, $saturation: 90%);
                &._blue {
                    background-color: #F0F9FF;
                    color: $c_key;
                }
                &._red {
                    background-color: #FFF1F1;
                    color: $c_red2;
                }
                &._key {
                    background-color: $c_key2;
                    border-color: $c_key;
                    color: $c_key;
                }
                
            }
        }
    }
    .btn_sorting {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        //background-color: $c_key6;
        background-image: url(../images/arrow_sorting2.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        vertical-align: middle;
        //margin-left: 4px;
        // &:hover {
        //     background-color: darken($c_key6, 10%);
        // }
        &.on {
            transform: rotate(180deg);
            //background-color: $c_key;
            //background-image: url(../images/arrow_sorting_w.svg);
            // &:hover {
            //     background-color: darken($c_key, 10%);
            // }
        }
    }
   
    .fixed_top {
        position: sticky;
        left: 0;
        top: 0;
        z-index: 11;
        background-color: $c_key2;
        &.fixed_left {
            z-index: 12;
            //left: 0;
            background-color: $c_key2;
        }

    }

    .fixed_bot {
        position: sticky;
        
        bottom: 0;
        z-index: 11;
        background-color: $c_key2 ;
        &.fixed_left {
            z-index: 12;
            //left: 0;
            background-color: $c_key2;
        }

    }
    .fixed_left {
        position: sticky;
        left: 0;
        z-index: 11;
        background-color: #fff;
        &.col2 {
            left: 60px;
        }
    }
}

.v_tbl {
    th, td {
        border: 1px solid $c_line;
        border-left: none;
        border-right: none;
        height: 56px;
    }
    th {
        background-color: $c_bg;
        text-align: right;
        vertical-align: middle;
        padding: 8px 16px;
        padding-left: 8px;
        font-size: $fz_4;
        font-weight: 500;
    }
    td {
        padding: 8px 16px;
    }
}