.title1 {
    font-size: $fz_9;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    align-items: center;
    
    @include mobile {
        font-size: $fz_8;
    }
    .tit_ico {
        width: 29px;
        height: 29px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        @include mobile {
            width: 22px;
            height: 22px;
            background-size: contain;
            margin-right: 8px;
        }
        @for $i from 1 through 6 {
            &.ty_menu#{$i} {
                background-image: url(../images/ico_pack/icon_menu0#{$i}_on.svg);
            }  
        }
    }
}
.title2 {
    font-size: $fz_8;
    //font-weight: bold;
    @include mobile {
        font-size: $fz_7;
    }
}
.title3 {
    display: flex;
    align-items: center;
    font-size: $fz_7;
    font-weight: 500;
    .tit_ico {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center center;
        &.ty_arrow {
            background-image: url(../images/tit_ico_arrow.svg);
        }
    }
}

.tit_ico {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    &.ty_facility {
        background-image: url(../images/icon_FacilityManagement_blue.svg);
    }
    &.ty_emergency {
        background-image: url(../images/icon_EmergencyManagement_blue.svg);
    }
}